#container {
  padding-top: 20px;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

ul {
  list-style: none;
}
#header .pull-right {
  display: flex;
  list-style: none;
}
#header .icons li img {
  width: 100%;
  border-radius: 50%;
}
#header .icons li {
  width: 10%;
  margin: 0px 10px;
  display: inline-block;
}
#header .userlist ul {
  padding: 0px;
}

#header .userlist {
  position: absolute;
  border: 1px solid lightgray;
  margin-top: 5px;
  width: 204px;
  background-color: white;
  height: 115px;
  overflow-y: scroll;
}
#header .userlist li {
  width: 100%;
  margin: 5px 0px;
}
#header .userlist li img {
  width: 15%;
  margin: 0px 10px;
}
#header .userlist li span {
  font-size: 12px;
}
#header .show_hide {
  position: absolute;
  width: 250px;
  height: 140px;
  background-color: white;
  right: 15px;
  top: 65px;
  text-align: left;
  padding-left: 21px;
  padding-top: 15px;
  border: 1px solid lightgray;
}
#header .suggestion input {
  border: none;
}
input:focus {
  outline: none;
}
.gray {
  background-color: gray;
}
#header #create-list {
  width: 90%;
  margin: 0px;
  border: 1px solid black;
}
#header #create-list span {
  font-size: 9px;
  background-color: gainsboro;
  padding: 5px 8px 5px 5px;
  margin: 0px 3px;
  border-radius: 5px;
}
#content ul li {
  height: 150px;
  width: 145px;
  background-color: white;
  display: inline-block;
  margin: 20px 20px;
  border: 1px solid red;
  text-align: center;
}

#content ul li span {
  font-size: 12px;
}
#content ul li p {
  font-size: 10px;
  margin-top: 30px;
}
#content ul li img {
  width: 87%;
}
img:hover span {
  display: none;
}

#content input {
  border: none;
  height: 140px;
  width: 140px;
  width: 140px;
  overflow-x: scroll;
}
#content input:focus {
  border: none;
  outline: none;
}
